

body {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: rgb(58, 58, 58) !important;
}

.row .text-muted {
    color: white !important;
}

textarea {
    field-sizing: content;
}

#text::placeholder {
    color: #14abe2;
    opacity: 1; 
    font-weight: bold;
}